.nav {
    grid-area: nav;
    background-color: royalblue;
    color: white;
    text-align: center;
}

.item a {
    text-align: center;
    color: white;
    text-decoration: none;
}

.item a.activeLink {
    color: green;
}

.item a:hover {
    color: black;
}