.nav {
    grid-area: nav;
    background-color: royalblue;
    color: white;
}

.item {
    text-align: center;
    color: white;
}

a {
    text-decoration: none;
}

.item:hover {
    color: black;
}